{% extends '__base__.html' %}

{% block title %}根路径编辑{% endblock %}

{% block beforehead %}

<script>
function validateEmail(email) {
    var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
    return re.test(email.toLowerCase());
}

$(function () {
    var vm = new Vue({
        el: '#vm',
        data: {
            path: {
                id: '{{ path.id }}',
                name: '{{ path.name }}',
                path: '{{ path.path }}',
                app_server_id: '{{ path.app_server_id }}'
            }
        },
        methods: {
            submit: function (event) {
                event.preventDefault();
                var $form = $('#vm');

                if (!this.path.app_server_id) {
                    return $form.showFormError('服务器不能为空！');
                }

                if (!this.path.name) {
                    return $form.showFormError('名字不能为空！');
                }

                if (!this.path.path) {
                    return $form.showFormError('路径不能为空！');
                }

                const vm = this
                $form.postJSON('/api/paths/save', {
                    path: vm.path
                }, function (err, r) {
                    if (err) {
                        return $form.showFormError(err);
                    }
                    location.href = '/manage/paths'
                });
            }
        }
    });
    $('#vm').show();
});

</script>

{% endblock %}

{% block content %}
    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li class="uk-active"><a href="/manage/paths">根路径列表</a></li>
                <li class="uk-active"><span>根路径编辑</span></li>
            </ul>
        </div>
    </div>

    <div class="uk-width-2-3">
        <form id="vm" v-on="submit: submit" class="uk-form uk-form-stacked">
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
            <div class="uk-form-row">
                <label class="uk-form-label">服务器:</label>
                <div class="uk-form-controls">
                    <select v-model="path.app_server_id">
                      {% for server in servers %}
                          <option value="{{server.id}}">{{server.name}}({{server.host}})</option>
                      {% endfor %}
                    </select>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">名字:</label>
                <div class="uk-form-controls">
                    <input v-model="path.name" maxlength="50" placeholder="输入名字" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">路径:</label>
                <div class="uk-form-controls">
                    <input v-model="path.path" maxlength="50" placeholder="输入路径" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <button @click="submit" class="uk-button uk-button-primary"><i class="uk-icon-user"></i> 提交</button>
                <a href="/manage/paths" class="uk-button uk-button-primary">返回</a>
            </div>
        </form>
    </div>

{% endblock %}
