{% extends '__base__.html' %}

{% block title %}根路径{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}
    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li class="uk-active"><a href="/servers">服务器【{{ server.name }}({{ server.host }})】</a></li>
                <li class="uk-active"><span>根路径</span></li>
            </ul>
        </div>
    </div>

    <div class="uk-width-medium-3-4">
    <a style="color: darkgreen;" href="{{ back_url }}">返回</a>
    <hr class="uk-article-divider">
    {% for path in paths %}
        <a href="/servers/{{ server_id }}/paths/{{ path.id }}">{{ path.name }}({{ path.path }})</a>
        <hr class="uk-article-divider">
    {% endfor %}
    {{ pagination('/servers/' + server_id + '/paths?page_index=', page) }}
    </div>
{% endblock %}
